body {
    align-items: center;
}

/* index page */

img.logo {
    position: relative;
    padding-top: 50px;
}

hr.divider {
    position: relative;
    top: 20px;
    border: none;
    height: 4px;
    background: black;
    margin-bottom: 50px;
}

.main-content {
    text-align: center;
}


.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

/* product gallery */
img {
    width: 400px;
}

/* shopping cart */
.small-img {
    width: 200px;
    border: 5px solid black;
}

/* product details */
.large-img {
    width: 600px;
    border: 5px solid black;
}

.roll-img {
    border: 5px solid black;
}

.type {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
    /* got from Stack Overflow - Keeps the text color the same as its surroundings */
}

a h1.products-title {
    text-transform: uppercase;
    font-size: 18px;
    text-emphasis: bold;
}

h1.products-title {
    text-decoration: none;
    color: black;
    text-emphasis: bold;
    text-transform: uppercase;
    font-size: 18px;
}

h2.cart-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}

h3.subtitle {
    font-weight: 300;
    font-size: 26px;
}

.caption {
    text-align: left;
    line-height: 6px;
}

.cart-title {
    padding-bottom: 50px;
}

/* yellow highlight on hover */

.cinnammon-roll-block:hover {
    background-color: yellow;
    transition: width 0.2s padding 0.2s;
    padding: 8px;
}

/* bold product name on hover */
.cinnammon-roll-block:hover .type{
    font-weight: bold;
}

/*product detail page */

.dropdown {
    text-align: left;
    margin-left: 0px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px; 
}

.dropdown-content select{
    width: 190px; 
    border: 2px solid black;  /* Border thickness, style, and color */
    padding: 5px;
}

.call-to-action{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

.button-link {
    cursor: pointer;
    background-color: yellow; 
    color: black;
    margin-top: 12px;
    padding: 4px 20px; 
    font-weight: bold;
    font-size: 12px; 
    border: 2px solid black; 
}

.button-link {
    display: inline-block;
    cursor: pointer;
    background-color: yellow;
    color: black;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid black;
    text-align: center;
    text-decoration: none; /* Removes underline */

}

#price-detail-page {
    font-weight: bold;
}

.detail-caption {
    max-width: 190px;
    text-align: left; 
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
}

.button-header {
    margin-bottom: 6px;
}

/*shopping cart page */

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#bottom-item-card{
    padding-bottom: 0px;
}

.customization {
    line-height: 10px;
}

.cart-price {
    font-size: 18px;
}

.checkout {
    padding-bottom: 100px;
}

.remove-btn {
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}

.checkout .total-price {
    margin-bottom: 8px; 
    line-height: 1.2;   
}

.checkout .button {
    margin-top: 0;      
    padding: 6px 18px;  
}