body {
    align-items: center;
}

img#logo {
    position: relative;
    top: 20px;
}

hr.divider{
    position: relative;
    top: 20px;
    border: none;
    height: 4px;
    background: black;
    margin-bottom: 50px;
}

.centered-content {
    text-align: center;
}

/* Product Gallery */
img {
    width: 400px;
}

/* shopping cart */
.small-img {
    width: 200px;
}
/* Product Detail */
.large-img {
    width: 600px;
}

.roll-img {
    border: 5px solid black;
}

h1.products-title {
    text-emphasis: bold;
    text-transform: uppercase;
}

h2.cart-title {
    text-transform: uppercase;
    font-weight: 300;
}

h3.subtitle {
    font-weight: 300;
}

.item-card {
align-items: center;
}